<!DOCTYPE html>
<title></title>
<html>
    <body>
        <component>
            <xjs:value-of select="first"></xjs:value-of> {{ second.two }} {{ second.two }}!
            <div>It`s real
                <span><xjs:value-of select="second.one"></xjs:value-of></span>.
            </div>
            <div>
                it consists of 6 continents:
                <ul>
                    <li for-each="item, i in continents">{{ i }}. {{ item }}</li>
                    <!-- <xjs:for-each select="continents"> -->
                        <!-- <li><xjs:value-of select="."></xjs:value-of></li> -->
                    <!-- </xjs:for-each> -->
                </ul>
            </div>
        </component>

        <input type="text">
        <input type="text">
    </body>
</html>

<script src="Promise.js"></script>
<script src="detectDataType.js"></script>
<script src="ObserveArray.js"></script>
<script src="xjs.js"></script>
<script>
    var data = {
        second: {
            one: 'world1',
            two: 'world2',
            three: {
                'qwe': 23234,
                'dfsfg': 'da90si',
            },
        },
        first: 'Hello',
        continents: [
            'Eurasia',
            'Africa',
            'North America',
            'South America',
            'Antarctica',
            'Australia',
        ]
    };
    var comp = new xjs(data);
    // comp.component('component', {
    //     data: data
    // });



    // test
    var w = ['qwe', 'asd', ['rhfghfgh', 'dfg43343']];
    ObserveArray(w, true);
    console.log(w)
</script>
