<component>
    {{first}} {{ second }}!
    <div>It`s real
        <span>{{second}}</span>.
    </div>
</component>

<input type="text">
<input type="text">

<component>
    {{first}} {{ second }}!
    <div>It`s real
        <span>{{second}}</span>.
    </div>
</component>
<component>
    {{first}} {{ second }}!
    <div>It`s real
        <span>{{second}}</span>.
    </div>
</component>
<component>
    {{first}} {{ second }}!
    <div>It`s real
        <span>{{second}}</span>.
    </div>
</component>
<component>
    {{first}} {{ second }}!
    <div>It`s real
        <span>{{second}}</span>.
    </div>
</component>
<component>
    {{first}} {{ second }}!
    <div>It`s real
        <span>{{second}}</span>.
    </div>
</component>
<component>
    {{first}} {{ second }}!
    <div>It`s real
        <span>{{second}}</span>.
    </div>
    <component>
        {{first}} {{ second }}!
        <div>It`s real
            <span>{{second}}</span>.
        </div>
    </component>
</component>


<!-- <script src="var1.js"></script> -->
<script src="var2.js"></script>
<!-- <script src="var3.js"></script> -->
<script>
    var data = {
        second: 'world',
        first: 'Hello',
    };
    var comp = new Loop;
    comp.component('component', {
        data: data
    });

    // var comp = new Meow('component', {
    //     data: {
    //         first: 'Hello',
    //         second: 'world',
    //     }
    // });

    // console.log(comp.rrr())
</script>
